.createInvoiceForm {
  display: flex;
  flex-direction: column;

  & > .invoiceLineItem {
    display: flex;
    flex-direction: row;

    & > .invoiceLineItemDetail {
      display: flex;
      flex-direction: column;
      margin: 10px;

      & > label {
        font-weight: bold;
        margin-bottom: 5px;

        & ~ span {
          line-height: 1;
        }
      }

      & > .subTotal {
        line-height: 1;
        color: coral;
      }
    }
  }

  & > button {
    width: 80px;
    align-self: flex-end;
  }
}